competitors:
  - bun-with-elysia
  - node-with-elysia
test:
  types:
    - plaintext
    - json
  concurrency: 1 # Number of concurrent competitors tested (1 = sequentially)
  connections: 128 # total number of HTTP connections to keep open with each thread handling N = connections/threads
  threads: 4 # number of threads to use
  duration: 1m # duration of the test, e.g. 2s, 2m, 2h
resources:
  replicas: 1
  requests:
    cpu: "1"
    memory: "1024Mi"
  limits:
    cpu: "1"
    memory: "1024Mi"
