competitors:
  - name: bun-elysia-mssql-drizzle
    database: mssql
    env:
      APP_ENV: production
      APP_PORT: "3000"
      DATABASE_URL: >-
        sqlserver://mssql-service:1433;Database=Benchmark;user=SA;password=Benchmark123!;encrypt=false;trustServerCertificate=true;
      DATABASE_HOST: mssql-service
      DATABASE_NAME: Benchmark
      DATABASE_USER: SA
      DATABASE_PASSWORD: Benchmark123!
      DATABASE_MIN_POOL_SIZE: "0"
      DATABASE_MAX_POOL_SIZE: "128"
      DATABASE_IDLE_TIMEOUT: "30000"
      DATABASE_ENCRYPT: "false"
      DATABASE_TRUST_SERVER_CERTIFICATE: "true"

  # - name: bun-elysia-mssql-prisma
  #   database: mssql
  #   env:
  #     APP_ENV: production
  #     APP_PORT: "3000"
  #     DATABASE_URL: >-
  #       sqlserver://mssql-service:1433;Database=Benchmark;user=SA;password=Benchmark123!;encrypt=false;trustServerCertificate=true;
  #     DATABASE_HOST: mssql-service
  #     DATABASE_NAME: Benchmark
  #     DATABASE_USER: SA
  #     DATABASE_PASSWORD: Benchmark123!
  #     DATABASE_MIN_POOL_SIZE: "0"
  #     DATABASE_MAX_POOL_SIZE: "128"
  #     DATABASE_IDLE_TIMEOUT: "30000"
  #     DATABASE_ENCRYPT: "false"
  #     DATABASE_TRUST_SERVER_CERTIFICATE: "true"

  # - name: dotnet-mvc-mssql-ef
  #   database: mssql
  #   pool:
  #     minSize: 0
  #     maxSize: 128
  #     lifetime: 30
  #     encrypt: false
  #     trustServerCertificate: true
  #   env:
  #     ConnectionStrings__BenchmarkDatabase: >-
  #       Server=mssql-service;
  #       Database=Benchmark;
  #       User Id=SA;
  #       Password=Benchmark123!;

  # - name: dotnet-mvc-mssql-ef-async
  #   database: mssql
  #   pool:
  #     minSize: 0
  #     maxSize: 128
  #     lifetime: 30
  #     encrypt: false
  #     trustServerCertificate: true
  #   env:
  #     ConnectionStrings__BenchmarkDatabase: >-
  #       Server=mssql-service;
  #       Database=Benchmark;
  #       User Id=SA;
  #       Password=Benchmark123!;

  - name: dotnet-mvc-mssql-ef-async-optimized
    database: mssql
    pool:
      minSize: 0
      maxSize: 128
      lifetime: 30
      encrypt: false
      trustServerCertificate: true
    env:
      ConnectionStrings__BenchmarkDatabase: >-
        Server=mssql-service;
        Database=Benchmark;
        User Id=SA;
        Password=Benchmark123!;

  - name: go-gin-mssql
    database: mssql
    env:
      APP_ENV: production
      APP_PORT: "3000"
      DATABASE_HOST: mssql-service
      DATABASE_NAME: Benchmark
      DATABASE_USER: SA
      DATABASE_PASSWORD: Benchmark123!
      DATABASE_MAX_IDLE_CONNS: "128"
      DATABASE_MAX_OPEN_CONNS: "128"
      DATABASE_CONN_MAX_LIFETIME_MIN: "0.5"

test:
  types:
    - plaintext
    - json-serialization
    - read-one
    - read-many
    - create-one
    - create-many
    - update-one
    - update-many
    - delete-one
    - delete-many
  concurrency: 1 # Number of concurrent competitors tested (1 = sequentially)
  vus: 16 # total number of virtual users to use for the test, maximum is 500
  duration: 15s # Default: 3m, duration of the test for each type, e.g. 2s, 2m, 2h
  warmupDuration: 10s # Default: 1m, duration of the warm-up test before the actual benchmark
  idleWaitDuration: 10s # Default: 1m, duration to wait after warmup before starting the actual test
  databaseSettleDuration: "auto" # Default: "auto". Will automatically set a settle duration based on how many rows seed due to VUs.
  logMode: "info" # "verbose", "info", "summary" or "silent"

resources: # Resources for the competitors
  replicas: 1
  requests:
    cpu: "1"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "512Mi"

databaseResources: # Resources for the database
  requests:
    cpu: "4"
    memory: "8Gi"
  limits:
    cpu: "4"
    memory: "8Gi"
