competitors:
  - elysia-js-with-bun
  - elysia-js-with-node
test:
  types:
    - plaintext
    - json
  concurrency: 1 # Number of concurrent competitors tested (1 = sequentially)
  connections: 100 # total number of HTTP connections to keep open with each thread handling N = connections/threads
  duration: 1m # duration of the test, e.g. 2s, 2m, 2h
  threads: 8 # number of threads to use
resources:
  replicas: 1
  requests:
    cpu: "0.5"
    memory: "512Mi"
  limits:
    cpu: "0.5"
    memory: "512Mi"
