competitors:
  - name: bun-with-elysia
    database: postgres
    env:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      MAX_DB_CONNECTIONS: 100

  - name: node-with-elysia
    database: postgres
    env:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      MAX_DB_CONNECTIONS: 100

  - name: dotnet-core
    database: postgres
    env:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      MAX_DB_CONNECTIONS: 100

  - name: dotnet-minimal-apis
    database: postgres
    env:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      MAX_DB_CONNECTIONS: 100

  - name: dotnet-core-mssql
    database: mssql
    env:
      ASPNETCORE_CONNECTIONSTRINGS__DEFAULTCONNECTION: "Server=mssql-service;Database=benchmark;User Id=sa;Password=Benchmark123!;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;Min Pool Size=1;Max Pool Size=100;"

  - name: dotnet-minimal-apis-mssql
    database: mssql
    env:
      ASPNETCORE_CONNECTIONSTRINGS__DEFAULTCONNECTION: "Server=mssql-service;Database=benchmark;User Id=sa;Password=Benchmark123!;Encrypt=False;TrustServerCertificate=True;Connection Timeout=30;Min Pool Size=1;Max Pool Size=100;"

  - name: go-with-gin
    database: postgres
    env:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/postgres
      MAX_DB_CONNECTIONS: 100

test:
  types:
    - plaintext
    - json
    - database/single-read
    - database/multiple-read
    - database/single-write
    - database/multiple-write
  concurrency: 1 # Number of concurrent competitors tested (1 = sequentially)
  vus: 128 # total number of virtual users to use for the test
  duration: 10s # Default: 5m, duration of the test for each type, e.g. 2s, 2m, 2h
  warmupDuration: 0s # Default: 15s, duration of the warm-up test before the actual benchmark
  idleWaitDuration: 0s # Default: 20s, duration to wait after warmup before starting the actual test
  databaseSettleDuration: 10s # Default: 30s, duration to wait for database to settle after deployment

resources: # Resources for the competitors
  replicas: 1
  requests:
    cpu: "1"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "512Mi"

databaseResources: # Resources for the database
  requests:
    cpu: "1"
    memory: "1Gi"
  limits:
    cpu: "1"
    memory: "1Gi"
