competitors:
  - name: dotnet-mvc-mssql-ef
    database: mssql
    env:
      DATABASE_URL: >-
        Server=mssql-service;
        Database=benchmark;
        User Id=sa;
        Password=Benchmark123!;
        Max Pool Size=100;
        Min Pool Size=0;
        Connection Lifetime=30;
        Connection Timeout=30;
        Encrypt=False;
        TrustServerCertificate=True;

test: # With all default settings 1 test will take about 3.5 minutes, 1 competitor will take about 35 minutes
  types:
    # - plaintext
    # - json
    - single-read
    - multiple-read
    - single-create
    - multiple-create
    - single-update
    - multiple-update
  concurrency: 1 # Number of concurrent competitors tested (1 = sequentially)
  vus: 128 # total number of virtual users to use for the test
  duration: 2m # Default: 2m, duration of the test for each type, e.g. 2s, 2m, 2h
  warmupDuration: 30s # Default: 30s, duration of the warm-up test before the actual benchmark
  idleWaitDuration: 30s # Default: 30s, duration to wait after warmup before starting the actual test
  databaseSettleDuration: 30s # Default: 30s, duration to wait for database to settle after deployment
  logMode: "info" # "verbose", "info", "summary" or "silent"

resources: # Resources for the competitors
  replicas: 1
  requests:
    cpu: "1"
    memory: "512Mi"
  limits:
    cpu: "1"
    memory: "512Mi"

databaseResources: # Resources for the database
  requests:
    cpu: "4"
    memory: "4Gi"
  limits:
    cpu: "4"
    memory: "4Gi"
